@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

h1{
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
}
h2{
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
}
h3{
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
}
p{
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
}