<!DOCTYPE html>
<html lang="es">
<head>
      <!--CSS-->
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="../css/responsive.css">
      <link rel="stylesheet" href="../css/fuentes.css">
      <link rel="stylesheet" href="../css/efectos.css">



      <!--JS-->
      <script src="../js/01-aside.js"></script>
      <script src="../js/02-dowload-cv.js"></script>
      <script src="../js/03-dowload-certificado.js"></script>
      <script src="../js/04-script.js"></script>
      <script src="../js/05-script.js"></script>


      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Acerca de mi</title>
</head>
<body>
      <div class="grid">
            <aside class="aside">
                  <div class="contenerdor-header">
                        <img src="../img/jorge.jpg" alt="IMAGEN" class="perfil">

                        <h1>Jorge Bernuil</h1>
      
                        <nav class="menu">
                              <ul>
                                    <li><a href="../index.html">INICIO</a></li>
                                    <li><a href="acerca_de.html">ACERCA DE MI</a></li>
                                    <li><a href="formacion.html">FORMACION</a></li>
                                    <li><a href="proyectos.html">PROYECTOS</a></li>
                                    <li><a href="contacto.html">CONTACTO</a></li>
                              </ul>
                        </nav>
                  </div>

            </aside>

            <section class="section sobre-mi">
                  <div class="hamburger">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                  </div>
                  
                  <div class="titulo"> 
                        <h1>Acerca de mi</h1>
                  </div>

                  <article class="parrafo">
                        <p>Soy desarrolladora de software y desarrollo web con experiencia en la creación de aplicaciones y sitios web dinámicos y funcionales. Mi enfoque se basa en diseñar soluciones eficientes y escalables que optimicen la experiencia del usuario y el rendimiento del sistema. A lo largo de mi trayectoria, he trabajado en diversos proyectos que abarcan desde sitios web responsivos hasta aplicaciones web interactivas.

                        Manejo tecnologías como HTML, CSS y JavaScript para el desarrollo del frontend, asegurando interfaces atractivas yaccesibles. En el backend, utilizo PHP y bases de datos como MySQL y MongoDB para crear sistemas robustos y eficientes.Además, empleo frameworks y herramientas como Bootstrap para mejorar la presentación y GitHub para la gestión delcódigo y la colaboración en equipo.
                              
                        Mi compromiso con el aprendizaje continuo y la mejora constante me permite mantenerme actualizada con las tendencias ymejores prácticas del desarrollo web. Disfruto enfrentando nuevos desafíos y creando soluciones innovadoras queimpulsen el crecimiento digital de mis clientes y proyectos.</p>
                  </article>

                  <div class="titulo">
                        <h1>¿Que me motivo a estudiar programacion?</h1>
                  </div>

                  <article>
                        <p>Desde siempre me ha fascinado la tecnología y su capacidad para transformar la vida de las personas. Mi curiosidad por entender cómo funcionan las aplicaciones y sitios web me llevó a adentrarme en el mundo del desarrollo de software y desarrollo web. Comencé explorando por mi cuenta, creando pequeños proyectos y experimentando con diferentes tecnologías hasta que descubrí mi verdadera pasión: construir soluciones digitales eficientes y funcionales.

                        A lo largo de mi trayectoria, he perfeccionado mis habilidades en HTML, CSS, JavaScript, PHP, MySQL, MongoDB, GitHub yBootstrap, permitiéndome desarrollar aplicaciones web dinámicas y escalables. Disfruto cada etapa del proceso, desde laplanificación y el diseño hasta la implementación y optimización, siempre buscando mejorar la experiencia del usuario yla eficiencia del código. Cada proyecto es una oportunidad para aprender algo nuevo y enfrentar desafíos que me ayudana crecer como profesional.
                              
                        Hoy en día, me dedico a crear soluciones tecnológicas que faciliten la vida de los usuarios y optimicen procesos paraempresas y emprendedores. Mi enfoque está en desarrollar productos de alta calidad, manteniéndome al día con lasúltimas tendencias y mejores prácticas del sector. Más que un trabajo, el desarrollo de software es para mí un espaciode creatividad y resolución de problemas, donde cada línea de código es un paso más hacia la innovación.</p>
                  </article>

            </section>
      </div>
</body>
</html>