<!DOCTYPE html>
<html lang="es">
<head>
      <!--CSS-->
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="../css/responsive.css">
      <link rel="stylesheet" href="../css/fuentes.css">
      <link rel="stylesheet" href="../css/efectos.css">

      <!--JS-->
      <script src="../js/01-aside.js"></script>
      <script src="../js/02-dowload-cv.js"></script>
      <script src="../js/03-dowload-certificado.js"></script>
      <script src="../js/04-script.js"></script>
      <script src="../js/05-script.js"></script>


      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Formacion</title>
</head>
<body>
      <div class="grid">
            <aside class="aside">
                  <div class="contenerdor-header">
                        <img src="../img/jorge.jpg" alt="IMAGEN" class="perfil">

                        <h1>Jorge Bernuil</h1>
      
                        <nav class="menu">
                              <ul>
                                    <li><a href="../index.html">INICIO</a></li>
                                    <li><a href="../view/acerca_de.html">ACERCA DE MI</a></li>
                                    <li><a href="../view/formacion.html">FORMACION</a></li>
                                    <li><a href="../view/proyectos.html">PROYECTOS</a></li>
                                    <li><a href="../view/contacto.html">CONTACTO</a></li>
                              </ul>
                        </nav>
                  </div>

            </aside>

            <section class="section formacion">
                  <div class="hamburger">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div> 
                  </div>

                  <div class="titulo">
                        <h1>Mi Formacion</h1>
                  </div>

                  <article class="parrafo">
                        <p>Comencé mi formación en esta profesión en la universidad cuando decidí cursar una licenciatura. Allí aprendí conceptos básicos de informática como redes, programación, ciberseguridad y soporte técnico. Actualmente estoy en mi último año de carrera, así que estoy a punto de terminarla.

                        luego para continuar ampliando los conocimientos de programación tomados en la universidad, decidí inscribirme en cursos de formación en la plataforma Udemy.</p>
                  </article>


                  <div class="experiencias">
                        <div>
                              <h1>Curso Maestro de Python 3</h1>
                              <h3>10 de Abril 2022 - 7 de Agosto 2022</h3>
                              <a href="https://www.udemy.com/share/1013sc3@dGVkXnOzVzGxQcYsdMVttfmxTJ4RDGdlASbjLJCXrgwBGTMkYz50mZanPXK6g76pRA==/">Link del Curso</a>

                              <p>Este es el curso en español más completo y exhaustivo que encontrarás sobre Python 3 en Udemy. Perfectamente estructurado y balanceado, introduce todos los temas de forma sencilla, gradual y 100% práctica. Todos los temas han sido cuidadosamente preparados para presentarse de forma gradual, de manera que el alumno nunca se sienta perdido durante su aprendizaje.</p>

                              <button class="certificado">Ver Certificacion</button>
                        </div>
                  </div>
            </section>
      </div>
</body>
</html>