<!DOCTYPE html>
<html lang="es">
<head>
      <!--CSS-->
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="../css/responsive.css">
      <link rel="stylesheet" href="../css/fuentes.css">
      <link rel="stylesheet" href="../css/efectos.css">

      <!--JS-->
      <script src="../js/01-aside.js"></script>
      <script src="../js/02-dowload-cv.js"></script>
      <script src="../js/03-dowload-certificado.js"></script>
      <script src="../js/04-script.js"></script>
      <script src="../js/05-script.js"></script>


      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Proyectos</title>
</head>
<body>
      <div class="grid">
            <aside class="aside">
                  <div class="contenerdor-header">
                        <img src="../img/jorge.jpg" alt="IMAGEN" class="perfil">

                        <h1>Jorge Bernuil</h1>
      
                        <nav class="menu">
                              <ul>
                                    <li><a href="../index.html">INICIO</a></li>
                                    <li><a href="../view/acerca_de.html">ACERCA DE MI</a></li>
                                    <li><a href="../view/formacion.html">FORMACION</a></li>
                                    <li><a href="../view/proyectos.html">PROYECTOS</a></li>
                                    <li><a href="../view/contacto.html">CONTACTO</a></li>
                              </ul>
                        </nav>
                  </div>

            </aside>

            <section class="section misproyectos">
                  <div class="hamburger">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                  </div>

                  <div class="titulo">
                        <h1>Mis proyectos</h1>
                  </div>


                  <div class="info-proyecto">
                      <div class="imagen">
                              <img src="../img/xcode.jpeg" alt="IMAGEN">
                      </div>

                      <div class="descripcion">
                              <h1>XCODE</h1>

                              <p>XCODE es una aplicación web que desarrollé y su funcionalidad principal es colocar una serie de exámenes de prueba con algún lenguaje de programación y la tarea del usuario es responder con la respuesta correcta, si son correctas o no la aplicación se lo hará saber.</p>

                              <h3>Herramientas Utilizadas</h3>

                              <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                              </ul>

                              <a href="https://github.com/AcTiV-Project/Xcode-Project.git">Ir al Repositorio</a>
                      </div>
                  </div>

                  <div class="info-proyecto">
                        <div class="imagen">
                                <img src="../img/Captura-Web'pintor.jpeg" alt="IMAGEN">
                        </div>
  
                        <div class="descripcion">
                                <h1>Portafolio Web para Porfesional de la Pintura</h1>
  
                                <p>He diseñado este sitio web como un portafolio personal y está dirigido principalmente a pintores profesionales. Aquí se destaca toda la información sobre el pintor y sus obras más emblemáticas.</p>
  
                                <h3>Herramientas Utilizadas</h3>
  
                                <ul>
                                      <li>HTML</li>
                                      <li>CSS</li>
                                      <li>JavaScript</li>
                                </ul>
  
                                <a href="https://github.com/AcTiV-Project/Portafolio-web---pintor.git">Ir al Repositorio</a>
                        </div>
                    </div>



                    <div class="info-proyecto">
                        <div class="imagen">
                                <img src="../img/inventario2.jpeg" alt="IMAGEN">
                        </div>
  
                        <div class="descripcion">
                                <h1>Aplicacion Web para la gestion de inventarios entre almacenes</h1>
  
                                <p>La función principal de esta aplicación web es la gestión eficiente de los inventarios de productos de una tienda, desde el registro de la información del producto así como su cantidad en stock, hasta la actualización y eliminación de cantidades en stock.</p>
  
                                <h3>Herramientas Utilizadas</h3>
  
                                <ul>
                                      <li>HTML</li>
                                      <li>CSS</li>
                                      <li>PHP</li>
                                      <li>MySQL</li>
                                </ul>
  
                                <a href="https://github.com/AcTiV-Project/App-Inventario.git">Ir al Repositorio</a>
                        </div>
                    </div>

            </section>
      </div>
</body>
</html>
